pymongo
numpy
requests
aiohttp
pyjokes
requests_random_user_agent
google-images-search
ffmpeg-python
youtube_dl
json_minify
secmail
names
bs4
gTTS
fancy_text
pillow==8.4.0
pytz
websocket-client==0.57.0
websockets
wget
heroku3
